.button {
    display: inline-block;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover,
    &:focus {
        background: black;
        color: white;
    }

    &:active {
        transform: scale(0.99);
    }

    &--outline {
        background-color: transparent;
        border: 1px solid black;

        color: black;

        transition: outline 120ms ease-in-out, transform 150ms ease;
        transition: background 250ms ease-in-out, transform 150ms ease;
    }

    &--secondary {

        background-color: var(--secondary);
        color: white;
        font-size: 1.125rem;
        padding: 1rem;
        border-radius: 0.5rem;

        &:hover {
            outline: 2px solid #0283ed;
            background: black;
            color: white;
        }

        &:hover,
        &:focus {
            background: black;
            outline: 2px solid #0283ed;
            color: white;
        }
    }
}
