.header {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;

}

.header-inner {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-inner {
    font-size: 2rem;
    color: black;
    font-family: 'grotesque-basis';
    letter-spacing: .5rem;
    cursor: pointer;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    li {
        color: var(--grey-300);
        font-weight: bold;
    }
}

.caption {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'grotesque-basis';
    letter-spacing: 2px;
    color: var(--blue-300);
}